{
        email nicolas.galland.pro@gmail.com
}
{$ENTRY_URL} {
	file_server
	root * /site
}
{$DAGSTER_URL} {
        reverse_proxy {$COMPOSE_PROJECT_NAME}_dagy:3000
}
{$JUPYTER_URL} {
        reverse_proxy {$COMPOSE_PROJECT_NAME}_dagy:8888
}
{$STREAMLIT_URL} {
        reverse_proxy {$COMPOSE_PROJECT_NAME}_dagy:8501
}

